SHIFTCONTROL_DOMAIN=shiftcontrol.127.0.0.1.nip.io
SHIFTCONTROL_OIDC_HOST=keycloak.127.0.0.1.nip.io
SHIFTCONTROL_OIDC_BASE_URL=http://keycloak.127.0.0.1.nip.io
SHIFTCONTROL_OIDC_REALM=dev
SHIFTCONTROL_OIDC_CLIENT_ID=shiftcontrol
SHIFTCONTROL_OIDC_ISSUER_URI=http://keycloak:8080/realms/dev
SHIFTCONTROL_OIDC_PUBLIC_ISSUER_URI=http://keycloak.127.0.0.1.nip.io/realms/dev
SHIFTCONTROL_OIDC_TOKEN_URL=http://keycloak:8080/realms/dev/protocol/openid-connect/token
TRAEFIK_HOST=traefik.127.0.0.1.nip.io
PGADMIN_HOST=pgadmin.127.0.0.1.nip.io
POSTGRES_USER=shiftcontrol
POSTGRES_PASSWORD=password
POSTGRES_DB=shiftservice
NOTIFICATIONSERVICE_POSTGRES_DB=notificationservice
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
RABBITMQ_DEFAULT_USER=shiftcontrol
RABBITMQ_DEFAULT_PASS=password
SHIFTCONTROL_INTERNAL_API_KEY=local-dev-api-key
KEYCLOAK_INTERNAL_CLIENT_SECRET=
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
SPRING_LIQUIBASE_CONTEXTS=local
