SHIFTCONTROL_DOMAIN=shiftcontrol.site.com
SHIFTCONTROL_OIDC_BASE_URL=https://auth.site.com
SHIFTCONTROL_OIDC_REALM=prod
SHIFTCONTROL_OIDC_CLIENT_ID=shiftcontrol
SHIFTCONTROL_OIDC_ISSUER_URI=https://auth.site.com/realms/prod
SHIFTCONTROL_OIDC_TOKEN_URL=https://auth.site.com/realms/prod/protocol/openid-connect/token
POSTGRES_USER=shiftcontrol
POSTGRES_PASSWORD=
POSTGRES_DB=shiftservice
NOTIFICATIONSERVICE_POSTGRES_DB=notificationservice
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=
RABBITMQ_DEFAULT_USER=shiftcontrol
RABBITMQ_DEFAULT_PASS=
SHIFTCONTROL_INTERNAL_API_KEY=
KEYCLOAK_INTERNAL_CLIENT_SECRET=
SMTP_ENABLE_SENDING=false
SMTP_HOST=smtp.site.com
SMTP_PORT=587
SMTP_USERNAME=notifications@site.com
SMTP_PASSWORD=
SMTP_FROM_NAME=ShiftControl Notifications
SMTP_FROM_EMAIL=noreply@site.com
SMTP_SECURE_SOCKET_OPTIONS=StartTls
CLOUDFLARE_TUNNEL_TOKEN=
